/*** CONTACT INFORMATION *****************************************************/
.contact {
  &__list {
    margin-top: var(--spacing--md);
    list-style: none;
  }

  &__item {
    margin-bottom: var(--spacing--xs);
    text-align: center;
  }

  &__item .ico {
    margin-right: var(--spacing--xs);
  }

  &__link {
    min-width: 4.8rem;
    width: 30rem;
    min-height: 48px;
    padding: var(--spacing--xs);
    line-height: 3.2rem;
    color: var(--color__secondary);
    background-color: var(--color__tertiary);
  }

  &__link:active,
  &__link:hover {
    color: var(--color__secondary);
    background-color: var(--color__quinary);
  }

  &__link:hover .ico {
    transform: rotate(360deg);
  }
}
