/*** BASE STYLES FOR COMMON HTML ELEMENTS ************************************/
*::selection {
  color: var(--color__secondary);
  background-color: var(--color__quinary);
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color__primary);
  background-color: var(--color__secondary);
  font-family: var(--font__sans);
  font-size: 2rem;
  font-weight: var(--font__weight);
}

h1 {
  font-size: inherit;
  font-weight: inherit;
}

p {
  line-height: 1.5;
}

a {
  color: var(--color__tertiary);
  display: inline-block;
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--color__quinary);
}

img {
  max-width: 100%;
  height: auto;
}

abbr,
acronym {
  border: none;
  text-decoration: none;
}
