/*** VARIABLES ***************************************************************/
:root {
  /* Colors */
  --color__black: #020100;
  --color__white: #fdfffc;

  --color__primary: var(--color__black);
  --color__secondary: var(--color__white);
  --color__tertiary: #c1292e;
  --color__quarternary: #235789;
  --color__quinary: #519e8a;

  /* Fonts & Typography */
  --font__sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font__serif: Georgia, Cambria, 'Times New Roman', Times, serif;
  --font__mono: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font__weight: 400;
  --font__weight--bold: 600;

  /* Spacing */
  --spacing--lg: 6.4rem;
  --spacing--md: 3.2rem;
  --spacing--sm: 1.6rem;
  --spacing--xs: 0.8rem;

  /* Breakpoints */
}

/*** BASIC RESET *************************************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
  line-height: 1;
}

/*** BASE STYLES *************************************************************/
*::selection {
  color: var(--color__secondary);
  background-color: var(--color__primary);
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color__primary);
  background-color: var(--color__secondary);
  font-family: var(--font__sans);
  font-size: 2rem;
  font-weight: var(--font__weight);
}

h1 {
  font-size: inherit;
  font-weight: inherit;
}

a:link,
a:active,
a:hover,
a:visited {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*** LAYOUT ******************************************************************/
.container {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  padding: 0 var(--spacing--xs);
}

#footer {
  margin-top: var(--spacing--md);
  font-size: small;
  text-align: center;
}

/*** COMPONENTS **************************************************************/
/* Personal information */
.person {
  margin-top: var(--spacing--xs);
  text-align: center;
}

.person__photo {
  max-width: 300px;
  border-radius: 100%;
}

.person__name {
  margin-top: var(--spacing--xs);
  /* font-family: var(--font__serif); */
  font-weight: var(--font__weight--bold);
  font-size: 120%;
}

.person__tagline {
  display: inline-block;
  font-family: var(--font__mono);
  font-size: 80%;
  color: var(--color__quarternary);
  background-color: transparent; /*var(--color__primary);*/
  padding: var(--spacing--xs);
  margin-top: var(--spacing--xs);
  border-radius: 1rem;
}

/* Contact information */
.contact__list {
  margin-top: var(--spacing--md);
  list-style: none;
}

.contact__item {
  margin-bottom: var(--spacing--xs);
  text-align: center;
}

.contact__item .ico {
  margin-right: var(--spacing--xs);
}

.contact__link {
  min-width: 4.8rem;
  width: 30rem;
  min-height: 48px;
  padding: var(--spacing--xs);
  line-height: 3.2rem;
  color: var(--color__secondary);
  background-color: var(--color__tertiary);
}

.contact__link:active,
.contact__link:hover {
  background-color: var(--color__quinary);
}

/* Testimonial quotes */
.testimonial__container {
  /* margin-top: var(--spacing--lg); */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.testimonial__block {
  margin-top: var(--spacing--lg);
  width: 100%;
  max-width: 32rem;
  padding: var(--spacing--xs);
}

.testimonial__quote {
  position: relative;
  border-width: 1px 0;
  border-style: solid;
  border-color: var(--color__quarternary);
  padding: var(--spacing--sm) 0;
  font-style: italic;
  line-height: 1.2;
}

.testimonial__quote::before {
  position: absolute;
  content: '\201C';
  top: 0em;
  left: 50%;
  width: 4rem;
  height: 3rem;
  transform: translate(-50%, -80%);
  color: var(--color__quarternary);
  background-color: var(--color__secondary);
  font-family: var(--font__serif);
  font-size: 8rem;
  font-style: normal;
  text-align: center;
}

.testimonial__source {
  margin-top: var(--spacing--xs);
  font-size: 80%;
  /* font-style: italic; */
  text-align: center;
}

/*** UTILITIES & HELPERS *****************************************************/
.ico {
  /* https://www.svgrepo.com/vectors/social-media-compilation/ */
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  font-size: 0.8em;
}
