/*** VARIABLES ***************************************************************/
:root {
  /* Colors */
  --color__black: #000;
  --color__white: #fff;

  --color__primary: var(--color__black);
  --color__secondary: var(--color__white);
  --color__tertiary: coral;

  /* Fonts */
  --font__sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font__serif: Georgia, Cambria, 'Times New Roman', Times, serif;
  --font__mono: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  /* Spacing */
  --spacing--lg: 6.4rem;
  --spacing--md: 3.2rem;
  --spacing--sm: 1.6rem;

  /* Breakpoints */
}

/*** BASIC RESET *************************************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
  line-height: 1;
}

/*** BASE STYLES *************************************************************/
*::selection {
  color: var(--color__secondary);
  background-color: var(--color__primary);
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color__primary);
  background-color: var(--color__secondary);
  font-family: var(--font__sans);
  font-size: 1.6rem;
}

a:link,
a:active,
a:hover,
a:visited {
  color: var(--color__tertiary);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*** UTILITIES & HELPERS *****************************************************/
.ico {
  /* https://www.svgrepo.com/vectors/social-media-compilation/ */
  display: inline-block;
  width: 1em;
  height: 1em;
}
